{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{form_row(form.titre)}}</div>
    <div class="col-md-4">{{form_row(form.ad_sortie)}}</div>
    <div class="col-md-4">{{form_row(form.genre)}}</div>

</div>
<div class="row">
    <div class="col-md-8">{{form_row(form.resume)}}</div>
    <div class="col-md-4">{{ form_row(form.actors)}}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.affiche)}}</div>
</div>
<div class="row">
    <div class="col">{{ form_row(form.synopsis)}}</div>
</div>
<div class="col-md-4">{{form_row(form.afficher)}}</div>
{{ form_rest(form) }}
<div class="text-right">
    <button class="btn btn-primary">{{button|default('Enregistrer')}}</button>
</div>
{{ form_end(form) }}