{% extends "base.html.twig" %}

{% block title actor.nom %}


{% block body %}
<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if app.user %}
                    <a href="{{path('logout')}}" class="btn btn-sm btn-danger">Se déconnecter</a>
                {% endif %}
                {% if not app.user %}
                    <a class="btn btn-sm btn-outline-success" href="{{path('login')}}">Se connecter</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('home')}}">Cinéma gOne</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a href="#" class="btn btn-success">S'inscrire</a>
            </div>
        </div>
    </header>
{# endHeader #}
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center" style="font-size: 1.5em; margin:0;">
            <a class="p-2 text-dark" href="{{ path('movie.index')}}">Films</a>
            <a class="p-2 text-dark" href="{{path('actor.index')}}">Acteurs</a>
        </nav>
    </div>
    <hr>
{#endNav#}
</div>
<div class="jumbotron" style="height: 525px; background-color: #212529;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: -10.5px;">
                <img src={{actor.photo}} alt={{actor.nom}} style="border-radius: 10px;">
            </div>
            <div class="col-md-4" style="color: white;">
                <h1 class="text-center">{{actor.prenom}} {{actor.nom}} </h1>
                <h2 class="text-center text-muted">{{actor.datedenaissance}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Infos techniques :</h2>
            <table class="table table-striped" style="margin-top: 15px;">
                <tr>
                    <td>Films</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock body %}

